<div [formGroup]="variantForm">
  <div class="form-group col-xs-12">
    <div formArrayName="questions">
      <div *ngFor="let question of questionsCountArray; index as i">
        <div [formGroupName]="i">
          <app-question [questionForm]="variantForm.controls.questions.controls[i]"
                       [testType]="testType"
                       [questionIndex]="i"
                       [questionsCount]="variantForm.controls.questions.controls.length"
                       (removeQuestion)="removeQuestion($event)"></app-question>
        </div>
      </div>
      <button class="btn btn-default btn-sm mr-minus-05" (click)="addQuestion()">добавить вопрос</button>
    </div>
  </div>
</div>
