@mixin no-avatar-circle($size) {
  background: #5fbb20;
  color: white;
  text-align: center;
  width: $size;
  height: $size;
  line-height: $size;
  border-radius: 50%;
}

@mixin color-hover($color){
  color: darken($color, 9%)
}

@mixin color-active($color){
  color: darken($color, 18%)
}
