@import url(//fonts.googleapis.com/css?family=Roboto:400,500);
//@import url(//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);

body {
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  color: $base-color;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

a {
  text-decoration: none;
}
