<div>Список групп: </div>
<div *ngFor="let group of groups">
  <span>{{group.group_name}}</span>
  <button class="btn btn-danger btn-xs" (click)="deleteGroup(group.id)">Удалить</button>

  <ng-select  [multiple]="true"
              [items]="subjects"
              [active]="group.subjects"
              (selected)="addSubjectToGroup($event, group.id, group.group_name)"
              (removed)="removeSubjectFromGroup($event, group.id, group.group_name)"
              placeholder="Не выбраны предметы для данной группы"></ng-select>
</div>
