<div class="page-title">
  <h3>Список работ</h3>
</div>
<div *ngFor="let subject of subjectsList; index as i">
  <div>Предмет: {{subject.name}}</div>
  <div class="left-border">
    <div class="mr-bottom-05" *ngFor="let task of subject.tasks; index as j">
      <div><span>{{task.name}}</span>
        <button class="btn btn-default btn-xs"
                (click)="changeTestVisibility(task.id, task.show_task, i, j)">{{task.show_task ? 'скрыть': 'отобразить'}}</button>
        <button class="btn btn-danger btn-xs" (click)="deleteTest(task.id, i ,j)">удалить</button>
      </div>
    </div>
  </div>

</div>
