<form [formGroup]="signInForm" (submit)="signIn()">
    <div class="">
      <div class="form-group form-group_vertical"
           [class.has-error]="signInForm.controls.email.touched && !signInForm.controls.email.valid">
        <label>email</label>
        <input type="text" class="form-control" formControlName="email" placeholder="email">
      </div>
      <div class="form-group form-group_vertical"
           [class.has-error]="signInForm.controls.password.touched && !signInForm.controls.password.valid">
        <label >password</label>
        <input type="password" class="form-control" formControlName="password" placeholder="password">
      </div>
      <button class="btn btn-success" type="submit">Войти</button>
    </div>
</form>
