@import "../../styles/helpers/variables";

.sidebar-wrapper {
  height: 100%;
  overflow-y: auto;
  transition: left .15s;
  z-index: 999999;
}

.sidebar-wrapper {
  background-color: #37474f;
}

@media #{$xs-screen} {
  .sidebar-wrapper {
    position: absolute;
    width: 15rem;
    left: -15rem;
    &.open-sidebar {
      left: 0;
    }
  }
}

@media (min-width: $xs-screen-value) and (max-width: $md-screen-value - 1) {
  .sidebar-wrapper {
    position: absolute;
    width: 20rem;
    left: -20rem;
    &.open-sidebar {
      left: 0;
    }
  }
}
